vocab
NeuralTextSimplification_model
TUPA_models
scripts/__pycache__/
scripts/paragraphs/
scripts/passages/
scripts/.ipynb_checkpoints/
scripts/*.xml
*.txt
scripts/split_sentence.ipynb
LAUNCH
website/node_modules
website/package-lock.json
website/*.txt
*~
